@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100dvh;
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

.ion-page {
    height: 100%;
}

p {
    margin: 0;
}